/* * {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.canvas-container {
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  align-content: center;
}

canvas {
  display: block;
  margin-inline: auto;
} */

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.canvas-container {
  max-inline-size: 100%;
  max-block-size: 100%;
  margin-inline: auto;
}
*:has(.canvas-container) {
  align-content: center;
}

canvas {
  display: block;
}